body{
	margin: 0;
	padding: 0;
}
.App {
  background-color: #282c34;

  text-align: center;
}

.App-main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header{
	height: 10vh;

}
header h2{
	margin: 0;
	padding: 0;
	color: azure;
}
button{
	padding: 10px;
	margin: 12px;
	border-radius: 5px;
	border: 0px;
	font-size: 20px;
	cursor: pointer;
}
#new-quote{
	background-color: rgb(241, 216, 72);
	color: rgb(17, 3, 3);
}
.tweet-button{
	background-color: rgb(24, 122, 214);
	
	color: rgb(255, 255, 255);
}
a{
	text-decoration: none;
	color: rgb(14, 14, 12);
	
}

